[user]
        name = caio86
        email = caioluiz86@gmail.com
[credential]
        helper = cache --timeout=7200
[core]
        editor = vim
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://git.caiol.duckdns.org"]
  helper = store
